pyyaml
vt-py
tk
customtkinter
dill
selenium
paramiko
qbittorrent-api
inputimeout
configobj
browser_cookie3
elevate
tqdm
tomli_w
toml
psutil
keyring
ping3
QuickSocketPY
python-dateutil
pytz
xmltodict
GitPython
parse-torrent-title
bs4
winrt-Windows.Devices.Geolocation
winrt-Windows.Foundation
geopy
netifaces