pyyaml
dill
psutil
keyring
pillow
paramiko
netifaces-plus
winrt-Windows.Devices.Geolocation
winrt-Windows.Foundation
vt-py
customtkinter
selenium
qbittorrent-api
inputimeout
configobj
browser_cookie3
elevate
tqdm
tomli_w
toml
ping3
python-dateutil
pytz
xmltodict
GitPython
parse-torrent-title
bs4
geopy
mutagen
QuickSocketPY
cpulimiter
pywin32
pybind11-stubgen
