name: Daily Pre-release

on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight UTC

jobs:
  create-prerelease:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get Current Date
        id: date
        run: echo "::set-output name=iso::$(date +'%Y.%m.%d')"

      - name: Create Pre-Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ steps.date.outputs.iso }}
          name: ${{ steps.date.outputs.iso }}
          body: |
            Automatic Nightly Build
          prerelease: true
